{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 80,
  "importOrder": [
    "^(@refinedev/(.*)$)|^(@refinedev$)",
    "^(react/(.*)$)|^(react$)",
    "^(@heroui/(.*)$)|^(@heroui$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^types$",
    "^@/app/(.*)$",
    "^@/components/(.*)$",
    "^@/layouts/(.*)$",
    "",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/contexts/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/providers/(.*)$",
    "^@/utils/(.*)$",
    "",
    "^@/features/(.*)$",
    "",
    "^@/assets/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
